---
name: MacOS tests

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

permissions:
    contents: read

jobs:
    macos-test:
        runs-on: ${{ matrix.os }}
        env:
            SDL_VIDEODRIVER: dummy
        strategy:
            matrix:
                # macos-13: Intel (x86_64), macos-latest: Apple Silicon (arm64)
                os: [macos-latest]
                python-version: ['3.9']
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  pip install git+https://github.com/Farama-Foundation/PettingZoo.git@master
                  pip install -e .[testing]
            - name: Full Python tests
              run: |
                  pytest -v --cov=mpe --cov-report term
